@import "../../styles/_variables";
@import "../../styles/_mixins";

$navbar-height: 52px;
$navbar-text-color: darken(desaturate($primary-accent, 35), 13);
$navbar-profile-width: 230px;
$nav-box-shadow: 2px 2px 2px 0px rgba(84, 84, 84, 0.12);

.top-nav {
  box-sizing: border-box;
  background-color: white;
  font-size: 0.9em;
  padding: 0;
  height: $navbar-height;
  min-height: $navbar-height;
  max-height: $navbar-height;
  border-bottom: 1px solid $light-grey;
  display: flex;
  flex-direction: row;
  user-select: none;
  z-index: 9999;
  & .top-nav__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.15em;
    padding: 0 24px;
  }
}
