{
  "parser": "@babel/eslint-parser",
  "root": true,
  "env": {
    "es6": true,
    "browser": true,
    "amd": true,
    "jest": true
  },
  "globals": {
    "module": true,
    "process": true,
    "__dirname": true,
    "__filename": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "react": {
      "createClass": "createReactClass", // Regex for Component Factory to use,
      // default to "createReactClass"
      "pragma": "React", // Pragma to use, default to "React"
      "version": "17", // React version, default to the latest React stable release
      "flowVersion": "0.53" // Flow version
    },
    "propWrapperFunctions": ["forbidExtraProps"] // The names of any functions used to wrap the
    // propTypes object, e.g. `forbidExtraProps`.
    // If this isn't set, any propTypes wrapped in
    // a function will be skipped.
  },
  "extends": ["eslint:recommended", "prettier", "plugin:react/recommended"],
  "plugins": ["react"],
  "ignorePatterns": ["**/*.ejs"],
  "rules": {
    // React
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error", //recognizes vars used in jsx, fixes no-unused-vars error
    "no-unused-vars": "warn"
  }
}
