.list {
  border-radius: $card-border-radius;
  background-color: white;
  & .list__item {
    display: block;
    color: $text-color;
    text-decoration: none;
    border-bottom: 1px solid lighten($light-grey, 2);
    padding: 10px 24px;
    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      background-color: $lightest-grey;
    }
    & .list__item__title {
      font-size: 1em;
    }
  }
}

.list__header {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  & .list__header__title {
    flex: 1;
    padding: 24px 0 12px 0;
  }
  & .list__header__actions {
    padding: 24px 24px 8px 0;
  }
}
  