@import "../../styles/_variables";
@import "../../styles/_mixins";

.error-card {
    text-align: center;
    border-style: solid;
    border-radius: 5%;
    margin: 20px;
    position: absolute;
    top: 50px;
    left: 25%;
    width: 50%;
    height: fit-content;
}