@import "../../styles/_variables";
@import "../../styles/_mixins";

.order-kit-success-page {
  .order-kit-success-page__content {
    @include flex-center;
    padding: 24px;
  }
  & .order-kit-success-page__check {
    max-height: 100px;
    margin-bottom: 20px;
  }
  & .order-kit-success-page__text-container {
    text-align: center;
    font-size: 1.2em;
  }
  .order-kit-success-page__text--congratulations {
    font-weight: bold;
  }
}
