@import '../../styles/_variables';

$navbar-height: 52px;
$navbar-text-color: darken(desaturate($primary-accent, 35), 13);
$navbar-profile-width: 230px;
$nav-box-shadow: 2px 2px 2px 0px rgba(84, 84, 84, 0.12);

.empty-navbar {
  & .navbar__logo__container {
    display: inline-block;
    margin: 0 22px;
    padding-top: 13px;
    vertical-align: top;
    & .navbar__logo {
      height: 46px;
    }
    & .navbar__logo__beta-text {
      position: absolute;
      top: 6px;
      left: 55px;
      font-size: 10px;
      font-weight: 500;
      color: $primary-accent;
      display: inline-block;
    }
  }
}
