@import "../../styles/_variables";
@import "../../styles/_mixins";

.signup-page {
  @include flex-center;
  display: flex;
  flex-direction: row;
  & .signup-button {
    width: 100%;
    margin: 12px 0;
  }
  & .signup__image {
    flex: 1;
    background-image: url("https://s3.amazonaws.com/dashboard.vot-er.org/signup-image-lg.jpg");
    background-position: left;
    background-size: cover;
    height: 100vh;
  }
  & .signup__content {
    max-width: 540px;
    padding: 12px 52px;
  }
  & .signup-card__helper-link {
    font-size: 0.8em;
  }
}
