@import "../../styles/_variables";
@import "../../styles/_mixins";

.signup-page {
  @include flex-center;
  display: flex;
  flex-direction: row;
  & h1 {
    margin-bottom: 2px;
  }
  & p.helper-text {
    margin-top: 2px;
  }
  & .signup-button {
    width: 100%;
    margin: 12px 0;
  }
  & .signup__image {
    flex: 1;
    background-image: url("../../twitter.PNG");
    background-position: left;
    background-size: cover;
    height: 100vh;
  }
  & .signup__content {
    max-width: 540px;
    padding: 12px 52px;
  }
  & .signup-card__helper-link {
    font-size: 0.8em;
  }
}

@media (max-width: 800px) {
  .signup-page .signup__image {
    display: none;
  }
}

