@import "../../styles/_variables";
@import "../../styles/_mixins";

.signup-page {
  @include flex-center;
  display: flex;
  flex-direction: row;
  & h1 {
    margin-bottom: 2px;
  }
  & p.helper-text {
    margin-top: 2px;
  }
  & .signup-button {
    width: 100%;
    margin: 12px 0;
  }
  & .signup__image {
    flex: 1;
    background-image: url("https://s3.amazonaws.com/dashboard.vot-er.org/signup-image-2.jpg");
    background-position: left;
    background-size: cover;
    height: 100vh;
    @media only screen and (max-width: 700px) {
      display: none;
    }
  }
  & .signup__content {
    max-width: 540px;
    padding: 52px 18px;
    @media only screen and (min-width: 700px) {
      min-width: 540px;
      max-height: 100vh;
      overflow-y: scroll;
      padding: 24px 42px;
    }
    @media only screen and (max-width: 700px) {
      padding: 52px 18px;
    }
  }
  & .signup-card__helper-link {
    font-size: 0.8em;
  }
}


