@import "../../styles/_variables";

a.task-item {
  border-bottom: 1px solid $lighter-grey;
  padding: 12px 16px;
  text-decoration: none;
  color: $text-color;
  &:hover {
    text-decoration: none;
    cursor: default;
    background-color: rgb(250, 250, 250);
  }
}